body {
  font-family: "Montserrat", sans-serif;
}

.desktop-only {
  display: block;
}
@media screen and (max-width: 991px) {
  .desktop-only {
    display: none;
  }
}

.mobile-only {
  display: none;
}
@media screen and (max-width: 991px) {
  .mobile-only {
    display: block;
  }
}

.hero-bottom-content {
  padding-left: calc(100% - 85vw);
}
@media screen and (max-width: 1414px) {
  .hero-bottom-content {
    padding: 30px 50px;
  }
}
@media screen and (max-width: 600px) {
  .hero-bottom-content {
    padding: 30px 30px;
  }
}
@media screen and (max-width: 768px) {
  .hero-bottom-content h3 {
    font-size: 22px;
  }
}
@media screen and (max-width: 600px) {
  .hero-bottom-content h3 {
    font-size: 17px;
  }
}
@media screen and (max-width: 768px) {
  .hero-bottom-content .grid {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 768px) and (max-width: 600px) {
  .hero-bottom-content .grid p {
    font-size: 15px;
    line-height: 18px;
  }
}
@media screen and (max-width: 600px) {
  .hero-bottom-content .enquire-now {
    margin-top: 15px;
  }
}

.hero-section {
  padding-top: 200px;
}
@media screen and (max-width: 1414px) {
  .hero-section {
    padding-top: 150px;
  }
}
@media screen and (max-width: 991px) {
  .hero-section {
    padding-top: 350px;
  }
}
.hero-section .header-stars-pattern {
  top: 0;
  left: 200px;
  width: 20%;
  position: absolute;
}
@media screen and (max-width: 1414px) {
  .hero-section .header-stars-pattern {
    top: 0;
    left: 80px;
    width: 30%;
    position: absolute;
  }
}
@media screen and (max-width: 991px) {
  .hero-section .header-stars-pattern {
    display: none;
  }
}
.hero-section .hero-title {
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: 600;
  color: #113052;
  font-size: 150px;
  line-height: 100px;
  position: relative;
}
@media screen and (max-width: 1414px) {
  .hero-section .hero-title {
    font-size: 100px;
    line-height: 90px;
  }
}
@media screen and (max-width: 600px) {
  .hero-section .hero-title {
    font-size: 60px;
    line-height: 50px;
  }
}
.hero-section .hero-title-ai {
  color: white;
}
.hero-section .hero-title-cant-match {
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 55%;
}
@media screen and (max-width: 991px) {
  .hero-section .hero-title-cant-match {
    display: block;
    font-size: 67px;
  }
}
@media screen and (max-width: 600px) {
  .hero-section .hero-title-cant-match {
    display: block;
    font-size: 40px;
  }
}
.hero-section .header-pattern {
  position: absolute;
  top: -580px;
  right: -620px;
  width: 1210px;
}
@media screen and (max-width: 1414px) {
  .hero-section .header-pattern {
    position: absolute;
    top: -450px;
    right: -620px;
    width: 1000px;
  }
}
@media screen and (max-width: 991px) {
  .hero-section .header-pattern {
    position: absolute;
    top: -440px;
    right: -490px;
    width: 880px;
  }
}
@media screen and (max-width: 600px) {
  .hero-section .header-pattern {
    position: absolute;
    top: -170px;
    right: -320px;
    width: 880px;
  }
}

.video-container video {
  border-radius: 0px;
}
.video-container::after {
  content: "";
  width: 100%;
  height: 93px;
  position: absolute;
  bottom: -33px;
  left: 34px;
  overflow: hidden;
  background-image: url(/src/assets/video-pattern.png);
  background-size: cover;
  z-index: -1;
  background-position: 0px 0px;
}

.stats-section {
  margin-bottom: 50px;
  border-bottom-left-radius: 250px;
}
@media screen and (max-width: 1414px) {
  .stats-section {
    border-bottom-left-radius: 150px;
  }
}
.stats-section .stats1-parent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25% 0px 0px 0px;
}
@media screen and (max-width: 768px) {
  .stats-section .stats1-parent {
    display: block;
  }
}
.stats-section .stats1-parent .stats1-child {
  flex-basis: 50%;
}
.stats-section .stats1-parent .stats1-child:first-child {
  padding-left: calc(100% - 80vw);
}
@media screen and (max-width: 1414px) {
  .stats-section .stats1-parent .stats1-child:first-child {
    padding-left: calc(100% - 95vw);
  }
}
@media screen and (max-width: 768px) {
  .stats-section .stats1-parent .stats1-child:first-child {
    padding: 50px 50px;
  }
}
.stats-section .stats1-parent .stats1-child.textual-content h2 {
  font-size: 31px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 40px;
  margin-bottom: 30px;
}
@media screen and (max-width: 600px) {
  .stats-section .stats1-parent .stats1-child.textual-content h2 {
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 30px;
    margin-bottom: 30px;
  }
}
.stats-section .stats1-parent .stats1-child.textual-content p {
  margin-bottom: 30px;
}
.stats-section .stats1-parent .stats1-child img {
  position: absolute;
  left: 22%;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  .stats-section .stats1-parent .stats1-child img {
    position: relative;
    top: 20px;
    left: 80px;
    transform: none;
  }
}
.stats-section .stats1-parent .stats1-child .stats1-cta {
  padding: 25px 70px;
  font-size: 18px;
  color: #2DCDD6;
  border: solid 1px #2DCDD6;
  border-radius: 100px;
  font-weight: 500;
  cursor: pointer;
  margin: 20px 0px 0px 0px;
}
@media screen and (max-width: 600px) {
  .stats-section .stats1-parent .stats1-child .stats1-cta {
    padding: 15px 30px;
  }
}
.stats-section .stats1-parent .stats1-child .stats1-cta:hover {
  background-color: #2DCDD6;
  color: #113052;
}
.stats-section .stats2-parent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15% 0px 0px 0px;
}
@media screen and (max-width: 768px) {
  .stats-section .stats2-parent {
    flex-wrap: wrap;
  }
}
.stats-section .stats2-parent .stats2-child {
  flex-basis: 50%;
}
@media screen and (max-width: 768px) {
  .stats-section .stats2-parent .stats2-child {
    flex-basis: 100%;
  }
}
.stats-section .stats2-parent .stats2-child:first-child {
  padding-left: calc(100% - 80vw);
}
@media screen and (max-width: 768px) {
  .stats-section .stats2-parent .stats2-child:first-child {
    order: 2;
  }
}
.stats-section .stats2-parent .stats2-child.textual-content h2 {
  font-size: 31px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 40px;
  margin-bottom: 30px;
}
.stats-section .stats2-parent .stats2-child.textual-content p {
  margin-bottom: 30px;
}
.stats-section .stats2-parent .stats2-child .boy {
  position: absolute;
  left: -12%;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  .stats-section .stats2-parent .stats2-child .boy {
    position: relative;
    top: 20px;
    left: -150px;
    transform: none;
  }
}
.stats-section .stats2-parent .stats2-child .stats1-cta {
  padding: 25px 70px;
  font-size: 18px;
  color: #2DCDD6;
  border: solid 1px #2DCDD6;
  border-radius: 100px;
  font-weight: 500;
  cursor: pointer;
  margin: 20px 0px 0px 0px;
}
@media screen and (max-width: 600px) {
  .stats-section .stats2-parent .stats2-child .stats1-cta {
    padding: 15px 30px;
  }
}
.stats-section .stats2-parent .stats2-child .stats1-cta:hover {
  background-color: #2DCDD6;
  color: #113052;
}
.stats-section .stats2-parent .stats2-child .stats2stats {
  width: 90%;
}
@media screen and (max-width: 1414px) {
  .stats-section .stats2-parent .stats2-child .stats2stats {
    width: 70%;
  }
}
@media screen and (max-width: 768px) {
  .stats-section .stats2-parent .stats2-child .stats2stats {
    width: 100%;
    text-align: center;
    padding: 0px 30px;
  }
}
.stats-section .stats3-parent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15% 0px 5% 0px;
}
@media screen and (max-width: 768px) {
  .stats-section .stats3-parent {
    display: block;
  }
}
.stats-section .stats3-parent .stats3-child {
  flex-basis: 50%;
}
.stats-section .stats3-parent .stats3-child:first-child {
  padding-left: calc(100% - 80vw);
}
@media screen and (max-width: 1414px) {
  .stats-section .stats3-parent .stats3-child:first-child {
    padding-left: calc(100% - 95vw);
  }
}
@media screen and (max-width: 768px) {
  .stats-section .stats3-parent .stats3-child:first-child {
    padding: 50px 50px;
  }
}
.stats-section .stats3-parent .stats3-child.textual-content h2 {
  font-size: 31px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 40px;
  margin-bottom: 30px;
}
.stats-section .stats3-parent .stats3-child.textual-content p {
  margin-bottom: 30px;
}
.stats-section .stats3-parent .stats3-child img {
  position: absolute;
  left: 22%;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  .stats-section .stats3-parent .stats3-child img {
    position: relative;
    top: 20px;
    left: 80px;
    transform: none;
  }
}
.stats-section .stats3-parent .stats3-child .stats3-cta {
  padding: 25px 70px;
  font-size: 18px;
  color: #2DCDD6;
  border: solid 1px #2DCDD6;
  border-radius: 100px;
  font-weight: 500;
  cursor: pointer;
  margin: 20px 0px 0px 0px;
}
@media screen and (max-width: 600px) {
  .stats-section .stats3-parent .stats3-child .stats3-cta {
    padding: 15px 30px;
  }
}
.stats-section .stats3-parent .stats3-child .stats3-cta:hover {
  background-color: #2DCDD6;
  color: #113052;
}

.info-section {
  background-color: #2DCDD6;
  color: #113052;
  padding: 5% 5% 4% calc(100% - 80vw);
  border-bottom-right-radius: 200px;
  position: relative;
  overflow: hidden;
  max-width: 92%;
  margin-bottom: 50px;
}
@media screen and (max-width: 1414px) {
  .info-section {
    padding: 5% 5% 4% 5%;
  }
}
.info-section .info-container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 0px;
}
.info-section .info-container .info-column {
  flex: 1;
}
.info-section .info-container .info-column h2 {
  font-size: 34px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.3;
  margin-bottom: 40px;
  letter-spacing: 0.5px;
}
@media screen and (max-width: 600px) {
  .info-section .info-container .info-column h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
}
.info-section .info-container .info-column p {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 30px;
  font-weight: 400;
  max-width: 90%;
}
@media screen and (max-width: 600px) {
  .info-section .info-container .info-column p {
    max-width: 100%;
    line-height: 20px;
    margin-bottom: 5px;
  }
}
.info-section .info-container .info-column .info-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 40px;
}
.info-section .info-container .info-column .info-list li {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 5px;
}
@media (max-width: 900px) {
  .info-section {
    border-bottom-right-radius: 100px;
    padding: 10% 5%;
  }
  .info-section .info-container {
    flex-direction: column;
    gap: 50px;
  }
  .info-section .info-container .info-column p {
    max-width: 100%;
  }
}

.carousel-section {
  overflow: visible;
  margin: 100px 0px 0px 0px;
}
@media screen and (max-width: 600px) {
  .carousel-section h2 {
    line-height: 30px;
    font-size: 24px;
  }
}
.carousel-section::before {
  content: "";
  width: 20%;
  height: 100px;
  position: absolute;
  top: -89px;
  left: 0px;
  overflow: hidden;
  background-image: url(/src/assets/video-pattern.png);
  background-size: 400%;
  z-index: -1;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

.swiper {
  margin: 60px 0px 0px 0px;
}

/*# sourceMappingURL=global.css.map */
